html { overflow: hidden; }
body { margin: 0; }
canvas { 
  display: block;
  position: absolute; 
  z-index: 99;
  top:0;
}
section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: grid;
  align-items: center;
  justify-content: center;
}
#label {
    font-family: 'JetBrains Mono', monospace;
    font-size: 49px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    -webkit-text-fill-color: #fff;
}